@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-ThinItalic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-Thin.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-TextItalic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-TextItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-Text.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-Text.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-SemiBoldItalic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-Medium.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-SemiBold.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-MediumItalic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-Light.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-LightItalic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-Italic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-ExtraLightItalic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-BoldItalic.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-Bold.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ligalex Mono for Powerline';
    src: url('fonts/ligalex/LigalexMonoForPowerline-ExtraLight.woff2') format('woff2'),
    url('fonts/ligalex/LigalexMonoForPowerline-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-SemiBold.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-Thin.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-Light.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-ExtraBold.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-Medium.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-Black.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans/NotoSans-ExtraLight.woff2') format('woff2'),
    url('fonts/NotoSans/NotoSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


