html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--app-theme-0) !important;
    color: var(--app-theme-9) !important;
}
