:root {
    --sidebar-width: 0px;
    --header-height: 105px;
    --main-space: 20px;
    --transition: 200ms;
    --page-green: #489e63;
}


@media only screen and (max-width: 1145px) {
    :root {
        --header-height: 70px;
    }


}